build/
release/
archive/
node_modules/
manifest-build/
*.pyc
deps/linkitz-blockly/src/*compressed.js
deps/linkitz-blockly/src/msg/js/*.js
deps/linkitz-blockly/src/blocks_compressed.js
*.komodoproject
prepackaged/Linkitz/win32/chromedriver.exe
*.dll
*.bin
prepackaged/
deps/linkitz-blockly/src/.DS_Store
deps/linkitz-blockly/.DS_Store
deps/.DS_Store
.DS_Store
