build/
release/
archive/
node_modules/
manifest-build/
*.pyc
deps/linkitz-blockly/src/blockly_compressed.js
deps/linkitz-blockly/src/dart_compressed.js
deps/linkitz-blockly/src/blockly_uncompressed.js
deps/linkitz-blockly/src/msg/js/*.js
deps/linkitz-blockly/src/blockly_compressed.js
deps/linkitz-blockly/src/blockly_uncompressed.js
deps/linkitz-blockly/src/dart_compressed.js
deps/linkitz-blockly/src/msg/js/az.js
deps/linkitz-blockly/src/msg/js/be-tarask.js
deps/linkitz-blockly/src/msg/js/bn.js
deps/linkitz-blockly/src/msg/js/cs.js
deps/linkitz-blockly/src/msg/js/de.js
deps/linkitz-blockly/src/msg/js/es.js
deps/linkitz-blockly/src/msg/js/fr.js
deps/linkitz-blockly/src/msg/js/hi.js
deps/linkitz-blockly/src/msg/js/ia.js
deps/linkitz-blockly/src/msg/js/it.js
deps/linkitz-blockly/src/msg/js/pms.js
deps/linkitz-blockly/src/msg/js/ms.js
deps/linkitz-blockly/src/msg/js/shn.js
deps/linkitz-blockly/src/msg/js/pl.js
deps/linkitz-blockly/src/msg/js/lt.js
deps/linkitz-blockly/src/msg/js/ru.js
deps/linkitz-blockly/src/msg/js/tlh.js
deps/linkitz-blockly/src/msg/js/th.js
deps/linkitz-blockly/src/msg/js/lrc.js
deps/linkitz-blockly/src/msg/js/tcy.js
deps/linkitz-blockly/src/msg/js/tcy.js
deps/linkitz-blockly/src/msg/js/zh-hans.js